body {
	background-image: url("background.jpg");
	background-size: cover;
}

.title {
	text-align: center;
	margin-top: 10em;
}

h1 {
	font-size: 5em;
}

h2 {
	margin-top: -1.4em;
	font-size: 1.4em;	
}


form {
	text-align: center;
	margin-top: 3em;

}

.key {
	padding: 0px;
	height: 2em;
	width: 40vw;
	min-width: 24em;
	outline: none;
	font-size: 1.3em;
	text-align: center;

}

.enter {
	margin-top: 1em;
	height: 2em;
	font-size: .9em;
}

.header {
	top: 0px;
	text-align: right;
	height: 1.3em;
}

.link {
	padding: 2px;
}

a {
	text-decoration: none;
	font-size: 1.2em;
	color: black;
}

.footer {
	position: absolute;
	bottom: 0px;
	font-size: .9em;
}


.trusteeForm {
	margin-top: 6em;
}

.trustee {
	width: 10em;
	height: 1.4em;
	font-size: 1.3em;
	margin-bottom: .2em;
}

.trustTitle {
	font-size: 2em;
	margin-bottom: -.5em;
}