@import '../modules/index.scss';
@import '../common.scss';
@import '../partials/head.scss';

.landing {
	&--title {
		margin: 1em 0 0 0;
		font-size: 5em;
		text-align: center;
		min-width: 10em;
	}
	&--sub-title {
		margin: 1em 0 0 0;
		font-size: 2em;
		text-align: center;
		min-width: 25em;
	}
}

#wallet {
	&--balance {
		margin: 1em 0 0 0;
		font-size: 1.3em;
		text-align: center;
		min-width: 38em;
	}
}

#add-funds-form {
	text-align: center;
	margin: 2em 0 0 0;
	min-width: 50em;
}

#amountDiv {
	&--value {
		margin: 2em .5em 2em 0;
		width: 3em;
	}
}

#addFunds-skip {
	margin: 0 0 0 0;
	text-align: center;
}