@import '../modules/index.scss';
@import '../common.scss';
@import '../partials/head.scss';

#trustee-title {
	padding: 0 0 30px 0;
    color: #ffffee;
    text-shadow: 2px 2px 0.75px #ffd8d0;
    font-size: 100px;
    text-align: center;
    min-width: 8em;
}
#trustee-form {
	text-align: center;
	min-width: 50em;
}

#trustee-one {
	display: inline-block;
	&--email {
		height: 1.4em;
	}
	&--address {
		height: 1.4em;
	}
	&--title {
		text-align: center;
		font-size: 30px;
	}
}

#trustee-two {
	display: inline-block;
	padding: 0 0 0 10em;
	&--email {
		height: 1.4em;
	}
	&--address {
		height: 1.4em;
	}
	&--title {
		text-align: center;
		font-size: 30px;

	}
}

#setTrustee-submit {
	margin: 7em 0 0 0;
	text-align: center;
}

#setTrustee-skip {
	margin: 0 0 0 0;
	text-align: center;
}